[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
opencv-contrib-python = "*"
dlib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
